:root {
  --main-color: #ffebbb;
}

body {
  background-color: var(--main-color);
}

footer {
  text-align: center;
}

h1,
h2 {
  margin-top: 40px;
}

footer a {
  margin: 0px 10px;
}

img {
  display: block;
  max-width: 500px;
  border-radius: 10px;
  margin: 30px auto;
}
